  .bungkus{
    min-height: 100vh;
    background: rgb(242, 245, 247) none repeat scroll 0% 0%;
    overflow: auto;
    position: relative;
  }
  .bungkus_header{
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 10px 20px;
    background: white;
  }
  .box_navigasi{
    height: 80px;
    top: 12px;
  }
  .max_height, [data-css-3pug2w] {
    max-height: 80px;
  }
  .max_pos {
    max-height: 100%;
    line-height: 32px;
  }
  .css-c9d96w, [data-css-c9d96w] {
    display: flex;
    height: 100%;
    margin-right: 20px;
    align-content: center;
    justify-content: flex-end;
  }
  .menu_item, [data-css-19t8ts8] {
    display: flex;
    border-bottom: 2px solid white;
  }
  .button_group {
    display: flex;
    margin: 20px 10px;
  }
  .item_link {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 75px;
    color: rgb(155, 155, 155);
    opacity: 1;
    white-space: nowrap;
    margin: 0px 10px;
  }
  .nav_button_login {
    display: inline-block;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 5px;
    cursor: pointer;
    letter-spacing: 1px;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 600;
    color: rgb(238, 48, 89);
    max-width: 100px;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(238, 48, 89);
    border-image: initial;
    border-radius: 5px;
    background: white;
    margin: auto;
    transition: 0.2s;
  }
  .nav_button_regis {
    display: inline-block;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 5px;
    cursor: pointer;
    letter-spacing: 1px;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 600;
    color: white;
    max-width: 100px;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(230, 50, 80, 0.9);
    border-image: initial;
    border-radius: 5px;
    background: rgb(238, 48, 89);
    margin: auto;
    transition: 0.2s;
  }
  .backgorund_judul_main {
    margin-top: 80px;
    padding: 120px 0px 200px;
    background: url('<?= base_url('assets/img/collaborate.png')?>') center center / cover no-repeat;
    text-align: center
  }